* {
    border: none;
    border-radius: 10;
    min-height: 0;
    margin: 1px 1px;
    padding: 0px 0px;
}

#waybar {
    background: transparent;
    color: #f2f3f7;
    font-size: 14px;
    font-family: "JetbrainsMono Nerd Font Mono";
}

#workspaces button {
    color: #1ea8fc;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
    color: #ff2afc;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#battery,
#network {
    padding: 1px 10px;
    background-color: rgba(48, 54, 67, .9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#window {
    color: #7984D1;
}

#tray {
    margin-left: 4px;
}

#custom-updates {
    color: #3F88AD;
}

#custom-powermenu {
    color: #e61f44;
    padding-right: 11px;
    margin-right: 8px;
}

#scratchpad {
    color: #42c6ff;
    padding-right: 4px;
    padding-left: 4px;
}

#pulseaudio {
    color: #42c6ff;
    padding-right: 14px;
}

#cpu {
    color: #1ea8fc;
}

#temperature {
    color: #a7da1e;
}

#memory {
    color: #ffd400;
}

#network {
    color: #df85ff;
    min-width: 280px;
}

#clock {
    color: #42c6ff;
    margin-left: 8px;
    /*opacity: 0.;*/
    /* font-size: 18px; */
}
