* {
    border: none;
    border-radius: 10;
    min-height: 0;
    margin: 1px 1px;
    padding: 0px 0px;
}

#waybar {
    background: transparent;
    color: #eeeeef;
    font-size: 14px;
    font-family: "JetbrainsMono Nerd Font Mono";
}

#workspaces button {
    color: #61afef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
    color: #fa5aa4;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#battery,
#network {
    padding: 1px 10px;
    background-color: #303643;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#window {
    color: #929db1;
}

#tray {
    margin-left: 4px;
}

#custom-updates {
    color: #1788e4;
}

#custom-powermenu {
    color: #e06c75;
    padding-right: 11px;
    margin-right: 8px;
}

#scratchpad {
    color: #cffafe;
    padding-right: 4px;
    padding-left: 4px;
}

#pulseaudio {
    color: #0fb9b1;
    padding-right: 14px;
}

#cpu {
    color: #61afef;
}

#temperature {
    color: #98c379;
}

#memory {
    color: #e5c07b;
}

#network {
    color: #c678dd;
    min-width: 280px;
}

#clock {
    color: #0fb9b1;
    margin-left: 8px;
    /*opacity: 0.;*/
    /* font-size: 18px; */
}
